# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# maven build
target/**

# vscode Folder
.vscode/

# idea Folder
.idea/

# .env
*.env

# docker
docker-compose.yml
Dockerfile.dev
Dockerfile.debug