@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    flex: 1;
}

h1 {
    font-size: 4rem;
}

p {
    font-size: 1.25rem;
}

.material-symbols-outlined {
    font-size: 48px;
}

.vectores-fondo {
    background-image: 
        url('../assets/vectores-hero/vector3.svg'),
        url('../assets/vectores-hero/vector1.svg'),
        url('../assets/vectores-hero/vector2.svg');
    background-position: right 500px, right top, left 500px;
    background-repeat: no-repeat;
    background-size: 40%;
}

/* ---- COMPONENTES ---- */

/* ---- INDEX ---- */

#hero {
    background-image:
        url('../assets/vectores-hero/vector3.svg'),
        url('../assets/vectores-hero/vector1.svg'),
        url('../assets/vectores-hero/vector2.svg');
    background-position: right -30%, right top, left 100px;
    background-repeat: no-repeat;
    background-size: 40%;
    height: 70vh;
    padding: 20px;
    color: #000;
}

#hero hr {
    width: 450px;
}

#elementos-main {
    height: auto;
    margin: 10% 20% 10% 20%;
}

#elementos-main .container {
    height: 80%;
}

#elementos-main .container div {
    height: 90%;
}

#elementos-main .col {
    height: 100%;
}

.card-vector img {
    width: 80%;
    padding: 5%;
}

.opciones-main:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}

.opciones-main:not(hover) {
    transform: scale(1);
    transition: 0.5s;
}

#elementos-main .col .btn {
    --bs-btn-font-weight: 700;
    font-size: 1.5rem;
}

/* ---- SELECCIÓN TIPO DE PERSONA ---- */

#seleccion-persona {
    margin: 0;
    background-color: #E6E6E6;
    height: 100vh;
}

.back-button {
    padding: 20px;
}

.back-button a {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.back-button a:hover {
    color: #0c6dfd;
    transition: 0.3s;
}

.card-seleccion-registro {
    width: 340px;
    height: 400px;
    background-color: #D9D9D9;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.162);
    border-radius: 8px;
}

.card-seleccion-registro:hover {
    transform: scale(1.05);
    transition: 1s;
    cursor: pointer;
}

.card-seleccion-registro:not(hover) {
    transform: scale(1);
    transition: 0.5s;
}

.card-seleccion-registro:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
    transform: scale(0.95);
}

.card-img-top {
    padding: 50px;
    width: 300px;
    height: 300px;
}

.card-body .btn {
    font-weight: 700;
    margin-top: 30px;
}

.card-body {
    height: 80px;
    width: 100%;
    text-align: center;
    background-color: white;
    border-radius: 8px;
}

/* ---- REGISTRO ---- */

#registro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
}

.container-imagen img {
    width: 600px;
}

.register-card { 
    padding: 5%;
    width: 700px;
}

.register-card h4 {
    font-weight: 300;
}

.register-form {
    padding: 5%;
    background-color: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
}

.form-control::placeholder {
    color: #bbbbbb;
}

.form-select {
    color: #bbbbbb;
}

.span-form {
    font-weight: 600;
}

/* ---- INICIAR SESIÓN ---- */

#iniciar-sesion {
    width: 100%;
    height: 100vh;
}

.card {
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.toggle-pass-icon {
    font-size: 20px;
    color: black;
    border: none;
}

.toggle-pass-icon:hover {
    transform: scale(1.15);
    transition: 0.3s;
}

.toggle-pass-icon:not(:hover) {
    transform: scale(1);
    transition: 0.3s;
}

.input-group .toggle-password {
    position:absolute;
    right: 0;
    top: 3px;
    border-top-right-radius:0;
    border-bottom-right-radius: 0;
    border: none;
}

#password {
    border-radius: 6px;
}

#password-repeat {
    border-radius: 6px;
}

/* ---- CARGA ARCHIVOS ---- */

.custom-file-upload {
    display: inline-block;
    border: 2px dashed #bbbbbb;
    border-radius: 8px;
    padding: 20px;
    cursor: pointer;
    width: 100%;
    color: #bbbbbb;
    margin-top: 10px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.custom-file-upload:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.06);
    transition: 0.5s;
}

.custom-file-upload:not(:hover) {
    cursor: pointer;
    background-color: #ffffff;
    transition: 0.5s;
}

input::-webkit-file-upload-button {
    display: none;
}

/* ---- DONAR DINERO ---- */

.card-donacion-dinero {
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.option-circle { 
    text-align: center;
    background-color: #333;
    color: white;
    cursor: pointer;
}

.option-circle {
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    text-align: center;
    background-color: #ffffff;
    appearance: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #2C2C2C;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-size: 14px;
    font-weight: 500;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform,opacity;
    z-index: 0;
}

.option-circle:hover {
    background: #F6F9FE;
    color: #174ea6;
}

.option-circle:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
    transform: scale(0.9);
}

.option-circle:focus {
    outline: none;
    border: 2px solid #4285f4;
}

.option-circle:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.option-circle:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.option-circle:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.option-circle:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.option-circle:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.icon-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.icon-container div {
    text-align: center;
    cursor: pointer;
}

.icon-container div:hover {
    color: #007bff;
}

.selected {
    background-color: #007bff;
    color: white;
}
.oculto {
    display: none;
}
.input-monto {
    display: none;
}

/* ---- MIGRACIÓN DATOS ---- */
.migrador-container{
    height: 70vh;
    max-width: 100%;
}
#migradorCSV{
    opacity: 0;
}

/* --------- REPORTES ---------  */
.icon-box {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}
.icon-box:hover {
    background-color: #f1f1f1;
}
.icon-box i {
    font-size: 48px;
    margin-bottom: 10px;
}
.icon-box p {
    font-weight: bold;
}

#map{
    width: 75%;
    height: 500px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;

}

/* -------– REPORTES -------- */

.btn-reportes{
    width: 100%;
    height:100px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
}
.card-reportes{
    width: 1000px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    background-color: white;
}

/* ----- ALERTA  -----*/
.alerta{
    width: 90%;
    display: flex;
    align-items: center;
    margin: 0 10px;
    padding: 20px 30px 20px 30px;
    border-radius: 5px;
    border: 1px solid rgba(255, 0, 0, 0.075);
    border-left: 3px solid red;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 0, 0, 0.04);
    font-size: 20px;
}
.alerta p{
    font-size: 16px;
}
.alertas-container{
    overflow-y: scroll;
    height: 50vh;
}
/* ----- COLABORAR (HUMANO) ----- */
.btn-colaborar{
    width: 100%;
    height:70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
}
.card-colaborar{
    margin: 0 auto;
    width: 1000px;
    height: 350px;
    padding: 70px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    background-color: white;
}

/* ----- Tienda ----- */
.categorias-tienda-container{
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    background-color: white;
    border-radius: 12px;
    border: 1px solid #0000002c;
}
.category:hover{
    cursor: pointer;
    color: #007bff;
}
.category{
    width: 20%;
}
/* -------------ADMIN------------- */
.admin-sidebar {
    height: auto;
    background-color: #f8f9fa;
    padding: 1rem;
}

.admin-content {
    padding: 2rem;
}

.sidebar-link {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    font-size: 1rem;
    padding: 0.75rem;
    color: #333;
    text-decoration: none;
    background-color: transparent;
    border-radius: 0;
    transition: 0.25s;

}

.sidebar-link:hover {
    background-color: #e9ecef;
    border-radius: 4px;
}

.sidebar-link span{
    font-size: 1.5rem;
}

/* Barra superior */
.top-bar {
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar .user-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.top-bar .user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.dropdown-menu-end {
    right: 0;
    left: auto;
}

.reportes{
    overflow-y: scroll;
    height: 50vh;
    padding: 5% 8%;
}
