<footer th:fragment="footer" class="pt-4 d-flex flex-column">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a th:href="@{/}" class="nav-link px-2 text-body-secondary">Inicio</a></li>
        <li class="nav-item"><a th:href="@{/quienes-somos}" class="nav-link px-2 text-body-secondary">Quiénes somos</a></li>
        <li class="nav-item"><a th:href="@{/como-participar}" class="nav-link px-2 text-body-secondary">Cómo participar</a></li>
    </ul>
    <a th:href="@{/}" class="d-flex align-items-center justify-content-center mb-3 mb-md-0 link-body-emphasis text-decoration-none p-3">
        <img th:src="@{/assets/logo_negro.png}" alt="logo heladeras solidarias" width="50">
    </a>
    <a href="mailto:proyecto.heladeras.solidarias@gmail.com" class="text-center text-muted text-sm">proyecto.heladeras.solidarias@gmail.com</a>
    <p class="text-center text-body-secondary">© Desarrollado por Grupo 10</p>
</footer>