<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cómo participar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="../static/assets/logo_blanco.png" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
    <link rel="stylesheet" href="../static/css/components.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body id="como-participar" class="vectores-fondo">

    <div th:replace="fragments/header :: header"></div>

    <main>
        <div class="container text-center">
            <h1 class="fw-bold mb-5">Cómo participar</h1>
            <div class="row align-items-center mt-4">
                <div class="col-md-6">
                    <img src="../static/assets/comoParticipar.png" alt="Manos unidas" class="img-fluid rounded">
                </div>
                <div class="col-md-6 text-start">
                    <p>Para convertirte en colaborador de Heladeras Solidarias,sólo necesitas registrarte o iniciar sesión y elegir una forma de colaborar (podes realizar más de una a lo largo del tiempo).</p>
                    <p>Existen diferentes formas de colaborar según si sos una persona particular o una persona jurídica. Tenelo en cuenta!</p>
                    <p>Tu contribución es lo que nos impulsa a crecer cada día. Elegí la forma de colaborar que más te guste y comencemos este camino juntos.</p>
                </div>
            </div>
        </div>
    </main>

    <div th:replace="fragments/footer :: footer"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/render_segun_usuario.js"></script>
    <script src="../static/js/cerrar_sesion.js"></script>
</body>
</html>