<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heladeras Solidarias | Inicio</title>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
    <link rel="stylesheet" th:href="@{/css/components.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body id="index">

    <div th:replace="~{fragments/header :: header}"></div>

    <main>
        <section id="hero">
            <div class="container col-xxl-8">
                <div class="row flex-lg-row-reverse align-items-center justify-content-end">
                    <div class="col-lg-6 mb-5">
                        <h1 class="fw-bold text-body-emphasis mb-3">Heladeras Solidarias</h1>
                        <p class="lead mb-0">Una puerta abierta a la solidaridad.</p>
                        <p class="lead mt-0">Colaborá con nosotros, colaborá con los demás!</p>
                        <hr>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start" sec:authorize="isAuthenticated() and hasAuthority('ROL_CH')">
                            <a class="href-colab" th:href="@{/colaborar-personas-fisicas}">
                                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">
                                    Colaborar
                                </button>
                            </a>
                            <a class="href-suscribirse-heladera" th:href="@{/suscribirse}">
                                <button type="button" class="btn btn-light btn-lg px-4">Suscribirse a heladera</button>
                            </a>
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start" sec:authorize="isAuthenticated() and hasAuthority('ROL_CJ')">
                            <a class="href-colab" th:href="@{/colaborar-personas-juridicas}">
                                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">
                                    Colaborar
                                </button>
                            </a>
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start" sec:authorize="isAnonymous()">
                            <a class="href-colab" th:href="@{/login}">
                                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">
                                    Colaborar
                                </button>
                            </a>
                            <a class="href-suscribirse-heladera" th:href="@{/login}">
                                <button type="button" class="btn btn-light btn-lg px-4">Suscribirse a heladera</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="elementos-main">
            <div class="container text-center">
                <div class="row align-items-center justify-content-between">
                    <div class="opciones-main col d-flex flex-column align-items-center justify-content-center">
                        <a th:href="@{/mapa-heladeras}">
                            <div class="card-vector d-flex flex-column align-items-center justify-content-center">
                                <img th:src="@{/assets/buscar_heladeras.png}" alt="mapa heladeras">
                            </div>
                            <button class="btn m-3">
                                Ver mapa de heladeras
                            </button>
                        </a>
                    </div>
                    <div class="opciones-main col d-flex flex-column align-items-center justify-content-center" sec:authorize="isAuthenticated() and (hasAuthority('ROL_CH') or hasAuthority('ROL_CJ'))">
                        <a class="href-tienda" th:href="@{/tienda}">
                            <div class="card-vector d-flex flex-column align-items-center justify-content-center">
                                <img th:src="@{/assets/trofeo.png}" alt="trofeo">
                            </div>
                            <button class="btn m-3">
                                Ver tienda de premios
                            </button>
                        </a>
                    </div>
                    <div class="opciones-main col d-flex flex-column align-items-center justify-content-center" sec:authorize="isAnonymous()">
                        <a class="href-tienda" th:href="@{/login}">
                            <div class="card-vector d-flex flex-column align-items-center justify-content-center">
                                <img th:src="@{/assets/trofeo.png}" alt="trofeo">
                            </div>
                            <button class="btn m-3">
                                Ver tienda de premios
                            </button>
                        </a>
                    </div>
                    <div class="opciones-main col d-flex flex-column align-items-center justify-content-center" sec:authorize="isAuthenticated() and (hasAuthority('ROL_CH') or hasAuthority('ROL_CJ'))">
                        <a class="href-falla" th:href="@{/reportar-falla-tecnica}">
                            <div class="card-vector d-flex flex-column align-items-center justify-content-center">
                                <img th:src="@{/assets/fallas.png}" alt="gente solucionando una falla">
                            </div>
                            <button class="btn m-3">
                                Reportar una falla
                            </button>
                        </a>
                    </div>
                    <div class="opciones-main col d-flex flex-column align-items-center justify-content-center" sec:authorize="isAnonymous()">
                        <a class="href-falla" th:href="@{/login}">
                            <div class="card-vector d-flex flex-column align-items-center justify-content-center">
                                <img th:src="@{/assets/fallas.png}" alt="gente solucionando una falla">
                            </div>
                            <button class="btn m-3">
                                Reportar una falla
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <div th:replace="~{fragments/footer :: footer(${userType}, ${isLoggedIn})}"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script th:if="${loginSuccess}">
        Swal.fire({
            title: '¡Éxito!',
            text: 'Sesión iniciada con éxito.',
            icon: 'success',
            confirmButtonText: 'Aceptar'
        });
    </script>
    <script th:if="${logoutSuccess}">
        Swal.fire({
            title: '¡Sesión cerrada!',
            text: 'Has cerrado sesión exitosamente.',
            icon: 'success',
            confirmButtonText: 'Aceptar'
        });
    </script>
</body>
</html>
