<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Persona</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
    <link rel="stylesheet" th:href="@{/css/components.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="vectores-fondo">

    <div th:replace="~{fragments/header :: header}"></div>

    <main>
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-6">
                    <h1 class="mb-0 fw-bold">Registrar persona</h1>
                    <h2 class="fw-light mt-0 text-muted">en situación vulnerable</h2>
                    <div class="card my-4">
                        <form class="text-start" th:action="@{/registrar-persona-vulnerable/guardar}" method="POST">
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Nombre</label>
                                <input name="nombre" type="text" class="form-control" id="nombre" placeholder="Ej: Juan" required>
                            </div>
                            <div class="mb-3">
                                <label for="apellido" class="form-label">Apellido</label>
                                <input name="apellido" type="text" class="form-control" id="apellido" placeholder="Ej: Pérez" required>
                            </div>
                            <div class="mb-3">
                                <label for="fecha-nacimiento" class="form-label">Fecha de nacimiento</label>
                                <input name="fecha-nacimiento" type="date" class="form-control" id="fecha-nacimiento" min="1900-01-01" max="2024-12-31" required>
                            </div>
                            <div class="mb-3">
                                <span class="span-form">Documento</span>
                                <div class="mb-3 d-flex justify-content-between gap-2">
                                    <div class="flex-grow-1">
                                        <label for="tipo-documento" class="form-label">Tipo</label>
                                        <select name="tipo-documento" class="form-select" id="tipo-documento" required>
                                            <option value="" disabled selected>Tipo</option>
                                            <option value="DNI">DNI</option>
                                            <option value="PASAPORTE">Pasaporte</option>
                                            <option value="LICENCIA_CONDUCIR">Licencia de Conducir</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label for="numero-documento"  class="form-label">Nro. de documento</label>
                                        <input name="numero-documento" type="text" class="form-control" id="numero-documento" placeholder="Número" required>
                                    </div>
                                    <div>
                                        <label for="sexo-documento" class="form-label w-100">Sexo</label>
                                        <select name="sexo-documento" class="form-select w-auto" id="sexo-documento" required>
                                            <option value="" disabled selected>Tipo</option>
                                            <option value="MASCULINO">Masculino</option>
                                            <option value="FEMENINO">Femenino</option>
                                            <option value="OTRO">Otro</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 form-check form-switch">
                                <label for="posee-domicilio" class="form-check-label">Posee domicilio</label>
                                <input type="checkbox" name="posee-domicilio" class="form-check-input" id="posee-domicilio">
                            </div>
                            <div class="domicilio">
                                <div class="row">
                                    <div class="mb-3 col-md-8">
                                        <label for="ciudad" class="form-label">Ciudad</label>
                                        <input name="ciudad" type="text" class="form-control" id="ciudad" placeholder="Ej: Puerto Madryn">
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="codigo-postal" class="form-label">Código postal</label>
                                        <input name="codigo-postal" type="text" class="form-control" id="codigo-postal" placeholder="Ej: 1407">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 mb-3">
                                        <label for="calle" class="form-label">Calle</label>
                                        <input name="calle" type="text" class="form-control" id="calle" placeholder="Ej: San Nicolás">
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="altura" class="form-label">Número</label>
                                        <input name="altura" type="text" class="form-control" id="altura" placeholder="Ej: 123">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="posee-menores-a-cargo">
                                    <label class="form-check-label" for="posee-menores-a-cargo">
                                        Posee menores a cargo
                                    </label>
                                </div>
                                <div class="cantidad-menores-a-cargo mt-2">
                                    <label for="menores-a-cargo">Cantidad de menores a cargo</label>
                                    <input type="number" min="1" class="form-control mt-2" name="menores-a-cargo" id="menores-a-cargo">
                                </div>
                            </div>
                            <div class="w-100 d-flex justify-content-center">
                                <button type="submit" class="btn btn-dark w-50">Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div th:replace="~{fragments/footer :: footer}"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/js/cerrar_sesion.js}"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const poseeMenoresCheckbox = document.querySelector('#posee-menores-a-cargo');
            const cantidadMenoresSelect = document.querySelector('.cantidad-menores-a-cargo');

            const situacionViviendaCheckbox = document.querySelector("#posee-domicilio")
            const ciudad = document.querySelector('#ciudad');
            const codPostal = document.querySelector('#codigo-postal');
            const calle = document.querySelector('#calle');
            const altura = document.querySelector('#altura');
            const domicilioDiv = document.querySelector(".domicilio");

            // Ocultar inicialmente los campos dependientes
            cantidadMenoresSelect.style.display = 'none';
            cantidadMenoresSelect.disabled = true;
            cantidadMenoresSelect.required = false;

            domicilioDiv.style.display = 'none';
            ciudad.disabled = true;
            codPostal.disabled = true;
            calle.disabled = true;
            altura.disabled = true;
            ciudad.required = false;
            codPostal.required = false;
            calle.required = false;
            altura.required = false;

            // Event listener para el checkbox de "posee menores a cargo"
            poseeMenoresCheckbox.addEventListener("change", function() {
                cantidadMenoresSelect.disabled = !this.checked;
                cantidadMenoresSelect.required = this.checked;
                cantidadMenoresSelect.style.display = this.checked ? 'block' : 'none';
            });

            // Event listener para el checkbox de "posee domicilio"
            situacionViviendaCheckbox.addEventListener("change", function() {
                const isChecked = this.checked;

                ciudad.disabled = !isChecked;
                codPostal.disabled = !isChecked;
                calle.disabled = !isChecked;
                altura.disabled = !isChecked;
                ciudad.required = isChecked;
                codPostal.required = isChecked;
                calle.required = isChecked;
                altura.required = isChecked;

                domicilioDiv.style.display = isChecked ? 'block' : 'none';
            });
        });

    </script>
</body>

</html>
