<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Técnico</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link rel="shortcut icon" th:href="@{/assets/logo_blanco.png}" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/components.css}">

</head>
<body class="vectores-fondo">
<div class="top-bar navbar">
    <a class="navbar-brand" th:href="@{/}">
        <img th:src="@{/assets/logo_negro.png}" alt="Logo" height="50">
    </a>
    <div class="user-profile">
        <span class="material-symbols-outlined text-dark" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer;">admin_panel_settings</span>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item cerrar-sesion" th:href="@{/logout}">Cerrar Sesión</a></li>
        </ul>
        <span class="text-dark fw-light">Administrador</span>
    </div>
</div>
<main>
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-6">
                <h1 class="mb-0 fw-bold">REGISTRAR TECNICO</h1>
                    <form class="text-start register-form needs-validation" th:action="@{/registro-tecnico/guardar}" method="POST" novalidate>
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input name="nombre" type="text" class="form-control" id="nombre" placeholder="Ej: Juan" required>
                        </div>
                        <div class="mb-3">
                            <label for="apellido" class="form-label">Apellido</label>
                            <input name="apellido" type="text" class="form-control" id="apellido" placeholder="Ej: Pérez" required>
                        </div>
                        <div class="mb-3">
                            <label for="fecha-nacimiento" class="form-label">Fecha de nacimiento</label>
                            <input name="fecha-nacimiento" type="date" class="form-control" id="fecha-nacimiento" min="1900-01-01" max="2024-12-31" required>
                        </div>
                        <div class="mb-3">
                            <span class="span-form">Documento</span>
                            <div class="mb-3 d-flex justify-content-between gap-2">
                                <div class="flex-grow-1">
                                    <label for="tipo-documento" class="form-label">Tipo</label>
                                    <select name="tipo-documento" class="form-select" id="tipo-documento" required>
                                        <option value="" disabled selected>Tipo</option>
                                        <option value="DNI">DNI</option>
                                        <option value="PASAPORTE">Pasaporte</option>
                                        <option value="LICENCIA_CONDUCIR">Licencia de Conducir</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="numero-documento"  class="form-label">Nro. de documento</label>
                                    <input name="numero-documento" type="text" class="form-control" id="numero-documento" placeholder="Número" required>
                                </div>
                                <div>
                                    <label for="sexo-documento" class="form-label w-100">Sexo</label>
                                    <select name="sexo-documento" class="form-select w-auto" id="sexo-documento" required>
                                        <option value="" disabled selected>Tipo</option>
                                        <option value="MASCULINO">Masculino</option>
                                        <option value="FEMENINO">Femenino</option>
                                        <option value="OTRO">Otro</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="cuil" class="form-label">Cuil</label>
                            <input name="cuil" type="text" class="form-control" id="cuil" required>
                        </div>
                        <div class="mb-3">
                            <label for="correo" class="form-label">Email</label>
                            <input name="correo" type="text" class="form-control" id="correo" required>
                        </div>
                        <div class="mb-3 row">
                            <span class="span-form">Ubicacion</span>
                            <div class="d-flex w-100 flex-wrap">
                                <div class="d-flex flex-column me-3">
                                    <label for="latitud-1" class="form-label">Latitud 1</label>
                                    <input name="latitud-1" type="text" class="form-control" id="latitud-1" required>
                                </div>
                                <div class="d-flex flex-column me-3">
                                    <label for="latitud-2" class="form-label">Latitud 2</label>
                                    <input name="latitud-2" type="text" class="form-control" id="latitud-2" required>
                                </div>
                                <div class="d-flex flex-column me-3">
                                    <label for="longitud-1" class="form-label">Longitud 1</label>
                                    <input name="longitud-1" type="text" class="form-control" id="longitud-1" required>
                                </div>
                                <div class="d-flex flex-column me-3">
                                    <label for="longitud-2" class="form-label">Longitud 2</label>
                                    <input name="longitud-2" type="text" class="form-control" id="longitud-2" required>
                                </div>
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="password" class="form-label span-form">Contraseña</label>
                                <div class="input-group">
                                    <div class="input-group-append"></div>
                                    <input name="password" type="password" class="form-control" id="password" required>
                                    <div class="invalid-feedback"></div>
<!--                                    <button class="btn toggle-password" type="button">-->
<!--&lt;!&ndash;                                <span class="material-symbols-outlined toggle-pass-icon">&ndash;&gt;-->
<!--&lt;!&ndash;                                    visibility&ndash;&gt;-->
<!--&lt;!&ndash;                                </span>&ndash;&gt;-->
<!--                                    </button>-->
                                </div>
                            </div>
                            <button type="submit" class="btn btn-dark w-50 d-block mx-auto" >Continuar</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/validacion_registro.js}"></script>
<script th:src="@{/js/cerrar_sesion.js}"></script>
<script>
    // Detectar si la página tiene un parámetro 'success=true' en la URL
    const params = new URLSearchParams(window.location.search);
    if (params.get('success') === 'true') {
        Swal.fire({
            icon: 'success',
            title: '¡Registro exitoso!',
            text: 'El técnico ha sido registrado correctamente.',
            confirmButtonText: 'Aceptar',
            timer: 5000
        });
    }
</script>
</body>

</html>
