<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Heladeras Solidarias</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</head>

<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/assets/logo_negro.png}" alt="Logo" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a th:classappend="${paginaActual == '/index' ? 'active' : ''}" class="nav-link"  th:href="@{/}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a th:classappend="${paginaActual == '/quienes-somos' ? 'active' : ''}" class="nav-link" th:href="@{/quienes-somos}">Quiénes somos</a>
                    </li>
                    <li class="nav-item">
                        <a th:classappend="${paginaActual == '/como-participar' ? 'active' : ''}" class="nav-link" th:href="@{/como-participar}">Cómo participar</a>
                    </li>

                    <!-- Si el usuario está logueado como colaborador humano o jurídico -->
                    <li class="nav-item" sec:authorize="isAuthenticated() and hasAuthority('ROL_CH')">
                        <a class="nav-link" th:classappend="${paginaActual == '/colaborar' ? active : ''}" th:href="/colaborar_personas_fisicas">Colaborar</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated() and hasAuthority('ROL_CJ')">
                        <a class="nav-link" th:classappend="${paginaActual == '/colaborar' ? active : ''}" th:href="/colaborar_personas_juridicas">Colaborar</a>
                    </li>

                    <!-- Si no está logueado -->
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link href-colab" th:href="@{/iniciar-sesion}">Colaborar</a>
                    </li>
                </ul>

                <!-- Mostrar botones de inicio de sesión o perfil según si está logueado -->
                <div class="d-flex ms-lg-3" sec:authorize="isAnonymous()">
                    <a class="text-decoration-none" th:href="@{/iniciar-sesion}">
                        <button class="btn btn-outline-primary me-2 btn-login" type="button">Iniciar Sesión</button>
                    </a>
                    <a class="text-decoration-none" th:href="@{/seleccion-persona}">
                        <button class="btn btn-primary btn-register" type="button">Registrarse</button>
                    </a>
                </div>

                <!-- Mostrar perfil si está logueado -->
                <div class="d-flex flex-column ms-lg-3 align-items-center usuario-profile" sec:authorize="isAuthenticated()">
                    <span class="icon-perfil material-symbols-outlined text-dark" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer;">
                        account_circle
                    </span>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item cerrar-sesion" th:href="@{/cerrar-sesion}">Cerrar Sesión</a></li>
                    </ul>
                    <span class="text-usuario">Usuario</span>
                </div>
            </div>
        </div>
    </nav>
</header>
</body>
</html>